:root {
    --principal-green: #a5d0a8;
    --principal-button: #B7990D;
    --black-secondary: #110B11;
    --cream: #F2F4CB;
    --gradient: linear-gradient(to left top, var(--cream), var(--principal-green));
    --gray-disabled: #ccc;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

.todolist_container {
    background: var(--gradient);
    min-height: 100vh;
}

.todolist_section {
    max-width: 1190px;
    margin: 0 auto;
}

.todolist_body {
    padding: 20px 16px;
}

.new_task {
    text-align: end;
    width: auto;
    border-radius: 10px;
    padding-bottom: 10px;
}

.new_task h2 {
    text-align: left;
    color: var(--black-secondary);
}

.new_task textarea {
    width: -webkit-fill-available;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
}

.create_task {
    border-radius: 30px;
    height: 35px;
    padding: 0 26px;
    border: 0;
    cursor: pointer;
    background: var(--principal-button);
    border: var(--principal-button);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}

.create_task_loading {
    border-radius: 30px;
    height: 35px;
    padding: 0 26px;
    border: 0;
    cursor: pointer;
    background: var(--principal-button);
    border: var(--principal-button);
    opacity: 0.5;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    cursor: not-allowed;
}

.create_task_loading img {
    width: 25px;
    vertical-align: middle;
}

.all_lists {
    padding-top: 20px;
}

.principal_loader {
    width: 50px;
}

.welcome_msg {
    font-size: 20px;
}

.all_lists ul {
    padding: 0;
    list-style-type: none;
}

.all_lists ul li {
    background: #fff;
    border: #fff;
    border-radius: 10px;
    min-height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
    box-shadow: 0px 5px 12px 8px rgba(60,58,58,0.19);
    -webkit-box-shadow: 0px 5px 12px 8px rgba(60,58,58,0.19);
    -moz-box-shadow: 0px 5px 12px 8px rgba(60,58,58,0.19);
}

.text {
    width: 80%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.taskDone {
    text-decoration: line-through;
}

.actions {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

.action_btn {
    width: 30px;
    height: 30px;
    background: var(--black-secondary);
    border-radius: 50%;
    cursor: pointer;
}

.action_btn img {
    width: 20px;
    text-align: center;
    padding: 5px;
}

.rounded-background {
    background: var(--black-secondary);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.rounded-background img {
    width: 25px;
    vertical-align: -webkit-baseline-middle;
}

@media screen and (max-width: 768px) {

    .all_lists ul li {
        flex-direction: column;
        justify-content: center;
    }

    .text {
        width: 100%;
    }

    .actions {
        width: 100%;
        justify-content: space-between;
        padding-top: 15px;
    }
}