.confirmation_popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: rgba(17, 11, 17, 0.80);
    backdrop-filter: blur(3px);
    z-index: 9999;
}

.confirmation_popup_section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
}

.confirmation_popup_body {
    width: auto;
    background: #fff;
    border-radius: 16px;
    padding: 16px;
}

.confirmation_popup_body p {
    font-size: 18px;
}

.cancel_delete_task {
    border-radius: 30px;
    height: 35px;
    padding: 0 26px;
    border: 0;
    cursor: pointer;
    background: var(--principal-green);
    border: var(--principal-green);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}

.confirmation_popup_buttons {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .confirmation_popup_section {
        width: 90%;
    }
}